name: Spell Check

on: [push, pull_request]

jobs:
  spellcheck:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Spell check
        uses: arduino/actions/libraries/spell-check@master
        with:
          ignore-words-list: etc/codespell-ignore-words-list.txt
          skip-paths: node_modules,package-lock.json
